// _mixins.scss
// --------------------------------------------------
// Responsive & Utility Mixins for Angular Projects
// --------------------------------------------------

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Media Query Mixins
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

// Fluid Typography
@mixin fluid-type($min-size, $max-size, $min-vw: 320px, $max-vw: 1200px) {
  font-size: calc(
    #{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-vw}) /
          (#{$max-vw} - #{$min-vw}))
  );
}

// Spacing Utilities
@mixin spacing($property, $value) {
  #{$property}: $value;
}

// Flex Utilities
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

// Grid Utilities
@mixin grid($columns: 2, $gap: 16px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// Example: Hide on mobile
@mixin hide-mobile {
  @include mobile {
    display: none !important;
  }
}

// Example: Show only on mobile
@mixin show-mobile {
  display: none !important;
  @include mobile {
    display: block !important;
  }
}
