<div *ngIf="error$ | async as error" class="error">
  {{ error }}
</div>
<div *ngFor="let article of articles$ | async" class="article-card">
  <app-article-card [article]="article" [filter]="filter"></app-article-card>
</div>
<div class="controls">
<div *ngIf="isLoading$ | async" class="loading">
  <app-loader></app-loader>
</div>
<div class="load-more-wrapper" *ngIf="hasMore$ | async">
  <button mat-raised-button color="primary" (click)="loadMore()" [disabled]="isLoading$ | async">
    Load More
  </button>
</div>
</div>

