@use '../../../styles/variables' as *;


.article-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1290px;
  margin: 0 auto;
  justify-content: space-between;
  gap: $space-lg $space-lg;
}


.results-info {
  margin-top: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid $border-color;
  padding-bottom: $space-xxs;
}


.results-text {
  font-weight: $fw-bold;
  font-size: $fs-text;
}


