@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.home-container {
  max-width: 1290px;
  margin: 0 auto;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $space-md;
    text-align: center;
  }
}

.article-list {
  max-width: 1290px;
  margin: 0 auto;
  padding-bottom: $space-lg;
  @include responsive-grid(3, 2, 1, $space-lg);
}

.results-info {
  margin-top: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid $border-color;
  padding-bottom: $space-xxs;
}

.results-text {
  font-weight: $fw-bold;
  font-size: $fs-text;
}
